<div class="jumbotron">
    <h1>File Upload</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Postback</h2>
        <p>This example uses clasic form controls for uploading a file to web api.</p>
        <p><a class="btn btn-default" href="/home/postback">PostBack example</a></p>
    </div>
    <div class="col-md-6">
        <h2>Postback</h2>
        <p>This exaple uses an <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX/Getting_Started" target="_blank">Ajax</a>
            approach (JavaScript) for uploading a file using <code>multipart/form-data</code> mime type.</p>
        <p><a class="btn btn-default" href="/home/ajax">PostBack example</a></p>
    </div>
</div>
